/* swap form  */
.form-box {
  @apply bg-[#081431] rounded-2xl border-2 border-[#A4A4BE] w-11/12 md:w-2/3 lg:w-1/2 xl:w-[25%];
  .head-box {
    @apply p-5 md:p-10;
    h1 {
      @apply text-2xl uppercase font-semibold;
    }
  }
  .form-icon {
    @apply bg-[#FCDD6F] flex flex-col px-5 h-16 justify-center items-center md:px-10 md:h-10 md:flex-row md:justify-between;
    span {
      @apply text-black font-semibold
    }
    .icon-wrapper {
      @apply flex space-x-1;
      .item-icon {
        @apply text-black cursor-pointer ;
      }
    }
  }
  .form-body {
    @apply mt-5 md:mt-10;
    @apply px-5 md:px-10;
    .form-wrapper {
      /* @apply my-10 px-10; */
      .form-body-label {
        @apply uppercase font-semibold;
      }
      .input-group {
        @apply flex space-x-2 h-12 bg-white rounded-2xl p-1 align-middle justify-center mt-4;
      }
      input {
        @apply rounded-2xl text-black p-2 w-full flex-1;
      }
      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
      input:focus {
        outline-width: 0;
      }
    }
    .arrow-up-down {
      @apply items-center flex justify-center pt-10 pb-5 cursor-pointer;
    }
  }
  .button-wrapper {
    @apply flex justify-center my-10;
    button {
      @apply w-11/12 md:w-44 rounded-2xl text-lg;
      @apply font-semibold uppercase;
    }
  }
}

/* Token Select */
.token-select {
  @apply flex text-white text-center bg-[#172852] h-full p-2 items-center hover:bg-[#122146];
  @apply rounded-xl cursor-pointer space-x-2;
  
  span {
    @apply text-base font-semibold
  }
}

footer {
  @apply py-5 px-4 md:px-4;

  .inner {
    @apply flex flex-row justify-between max-w-screen-xl mx-auto;

    .txt-logo {
      @apply text-xl font-bold;
    }
  }
}