---
import LayoutMain from "@/layouts/main.astro";
import {SwapForm} from "@/components/swap"
---

<LayoutMain title="Swap">
  <div class="swap-container">
    <SwapForm />
  </div>
</LayoutMain>

<style>
  .swap-container {
    @apply flex justify-center items-center h-screen;
  }
</style>