.text-stroke {
  @apply text-4xl md:text-6xl font-extrabold;
  -webkit-text-stroke: 5px #FCDD6F;
   color: #025182;
   paint-order: stroke fill;
   text-shadow:
       3px 3px 0 #FCDD6F,
     -1px -1px 0 #FCDD6F,  
      1px -1px 0 #FCDD6F,
      -1px 1px 0 #FCDD6F,
       1px 1px 0 #FCDD6F;
}